p
{
	color: black;
}
a:hover
{
    text-decoration: underline;
}
a
{
	color: #FFA500;
	text-decoration: none;
	font-weight: bold;
}
h2
{
	color: #FFA500;
	font-size: 2em;
}
h3
{
	color: grey;
}
.ligne1
{
	text-align: center;
	padding: 10px;
}
#block_sommet
{
	position: fixed;
	top: 0%;
	background-color: black;
	opacity: 0.9;
	width: 100%;
	margin-left: -7px;
}
body
{
	background-color: white;
	font-family: Arial, Verdana, Georgia, Sans-serif;
}
/*.img_menu_acceuil
{
	float: left;
	margin-top: -39px;
	margin-left: 7px;
}*/
.img_menu_acceuil
{
	float: left;
	margin-top: -45px;
	margin-left: 7px;
}
.gras
{
	font-weight: bold;
}
.surligner_jaune
{
	background-color: yellow;
}
.image_centree
{
	text-align: center;
}
.cadre_image_mmi
{
	border: 1px solid grey;
}



/* Flexbox */
#conteneur
{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap; /* si, en rétrécissant l'écran, les éléments ne rentrent plus en gardant leur taille minimale, alors ils passent sur plusieurs lignes */
}
.element
{
	min-width: 200px;
	height: 50px;
	margin: 5px;
	line-height: 50px;
	text-align: center;
	color: white;
	font-weight: bold;
}
#element1
{
	background-color: red;
	flex: 1;
}
#element2
{
	background-color: green;
	flex: 1;
}
#element3
{
	background-color: blue;
	flex: 1;
}


div.spoiler_img
{
	cursor: pointer;
}
div.contenuSpoiler 
{
    display: none;
}
.txt_bouton_spoiler
{
	color: orange;
	margin-left: 40px;
	margin-top: -27px;
	font-weight: bold;
}



#hover:hover
{
	background-color: #FFA500;
	color: white;
}
#clic:active
{
    color: #FFA500;
    font-size: 200%;
}
#focus_cellule:focus
{
	background-color: #FFA500;
}



.bouton_cliquable
{
	background-color: #FFA500;
	border-radius: 30px;
	color: white;
	padding: 10px;
	margin-left: 10px;
	box-shadow: 3px 5px 3px black;
}
.bouton_cliquable:hover
{
	text-decoration: underline;
}
.bouton_cliquable:active
{
	box-shadow: 3px 5px 3px black inset;
}



#bordures_arrondies
{
	background-color: #FFA500;
	border-radius: 30px;
	color: white;
	padding: 10px;
	margin-left: 10px;
}
#ombre_externe
{
	background-color: #FFA500;
	color: white;
	padding: 10px;
	margin-left: 10px;
	box-shadow: 3px 5px 3px black;
}
#ombre_interne
{
	background-color: #FFA500;
	color: white;
	padding: 10px;
	margin-left: 10px;
	box-shadow: 3px 5px 3px black inset;
}
#ombre_texte
{
	text-shadow: 1.5px 1.5px 4px black;
	font-size: 200%;
}



#soleil
{
	background-image: url("data/soleil.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: top center;
}
#mer_et_soleil
{
	background: url("data/soleil.png") fixed no-repeat top center, url("data/mer_bleue.jpg");
}
#taille_block
{
	width: auto; /* le block s'adapte à la largeur de l'écran */
	min-width: 400px; /* le block ne doit pas faire moins de 400px de large */
	max-width: 80%; /* la largeur du block ne doit pas excéder 60% de l'écran */
	max-height: 150px;
	text-align: justify;
	overflow: auto; /* si le texte est trop long, mise en place auto d'un ascenseur */
	word-wrap: break-word; /* césure forcée si un "mot (type url)" ne rentre pas dans la largeur du block */
	padding: 12px; /*la marge intérieur*/
	margin: auto; /* les marges extérieures s'adaptent à l'ecran et vont centrer le block */ 
	border: double #FFA500 3px;
}



#bateau_flottant1
{
	float: left;
}
#bateau_flottant2
{
	float: left;
}
.texte_dessous_image
{
	clear: both;
}







#Texte_en_Arial
{
	font-family: arial
}
#Texte_en_Arial_Black
{
	font-family: "arial black"
}
#Texte_en_Comic_Sans_MS
{
	font-family: "comic sans ms"
}
#Texte_en_Courier_New
{
	font-family: "courrier new"
}
#Texte_en_Georgia
{
	font-family: Georgia
}
#Texte_en_Impact
{
	font-family: Impact
}
#Texte_en_Times_New_Roman
{
	font-family: "Times New Roman"
}
#Texte_en_Trebuchet_MS
{
	font-family: "Trebuchet MS"
}
#Texte_en_Verdana
{
	font-family: "Verdana"
}




.agencement_titres
{
	text-align: center;
	color: #FFA500;
	font-size: 3em;
	text-transform: uppercase;
	padding-right: 5%;
	padding-left: 5%;
}
#feuille_blanche
{
	background-color: #f1f1f1;
	margin-left: 120px;
	margin-right: 120px;
	margin-top: 50px;
	padding-top: 1px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 1px;
	box-shadow: 3px 6px 6px;
}
.feuille_blanche_suite
{
	background-color: #f1f1f1;
	margin-left: 120px;
	margin-right: 120px;
	margin-top: 30px;
	padding-top: 1px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 1px;
	box-shadow: 3px 6px 6px;
}
.feuille_blanche_suite_ancre
{
	background-color: #f1f1f1;
	margin-left: 120px;
	margin-right: 120px;
	margin-top: 200px;
	margin-bottom: 200px;
	padding-top: 1px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 1px;
	box-shadow: 3px 6px 6px;
}

#titre_landing_page
{
	color: #FFA500;
	font-size: 2.2em;
}
#background_landing_page
{
	background-color: #f1f1f1;
}

.menu_style
{
	text-align: center;
	list-style-type: none;
}
.agencement_menu
{
	display: inline;
	padding-left: 3%;
	padding-right: 3%;
}

.contenu_page
{
	margin-top: 59px;
}
.lien_menu
{
	color: #FFA500;
	font-weight: normal;
}
#titre_principal
{
	font-size: 7em;
}



#landingPage
{
	background: url("data/fusee.png") no-repeat top 20px left;
	margin-left: -8px;
	margin-right: -8px;
	padding-top: 150px;
	padding-bottom: 60px;
}
#landing_block1
{
	margin-left: 40%;
	margin-bottom: 10px;
	margin-right: 5%;
}
.landing_block_suite
{
	margin-left: 5%;
	margin-bottom: 40px;
	margin-right: 5%;
}



#tableau_html1
{
	border: solid 3px red;
}
#tableau_html1 th
{
	border: solid 3px green;
}
#tableau_html1 td
{
	border: solid 3px black;
}

#tableau_html2
{
	border-collapse: collapse; /* Les bordures du tableau seront collées */
	text-align: center;
	vertical-align: center;
}
#tableau_html2 td, th /* Mettre une bordure sur les td ET les th */

{
	border: solid 3px black;
}

.tableaux_php
{
	border: solid 3px #FFA500;
	border-collapse: collapse;
	text-align: center;

}
.tableaux_php th
{
	border: solid 3px #FFA500;
	padding: 5px 5px 5px 5px;
}
.tableaux_php td
{
	border: solid 1px black;
	padding: 5px 5px 5px 5px;
}



#block_acceuil0
{
	text-align: center;
	background-color: #f7f7f7; 
	margin-left: -8px;
	margin-right: -8px;
	margin-top: -9px;
	padding-top: 40px;
	padding-bottom: 40px;
}
#block_acceuil1
{
	text-align: center;
	background-color: #fff7ef;
	margin-left: -8px;
	margin-right: -8px;
	margin-top: 10px;
	padding-top: 40px;
	padding-bottom: 40px;
}
#block_acceuil2
{
	text-align: center;
	background-color: #eaecec;
	margin-left: -8px;
	margin-right: -8px;
	margin-top: 10px;
	padding-top: 40px;
	padding-bottom: 40px;
}
#block_acceuil3
{
	text-align: center;
	margin-left: -8px;
	margin-right: -8px;
	margin-top: 10px;
	padding-top: 40px;
	padding-bottom: 40px;
}


#block_certificats_titre
{
	background-color: #f1f1f1;
	margin-left: -8px;
	margin-right: -8px;
	margin-top: -9px;
	padding-top: 1px;
	padding-bottom: 1px;
}
#block_certificats1
{
    background-color: #f1f1f1;
	margin-left: -8px;
	margin-right: -8px;
	margin-top: 10px;
	padding-top: 40px;
	padding-bottom: 40px;
}
#block_certificats2
{
	text-align: right;
	background-color: #f1f1f1;
	margin-left: -8px;
	margin-right: -8px;
	margin-top: 10px;
	padding-top: 40px;
	padding-bottom: 40px;
}
#block_certificats3
{
    background-color: #f1f1f1;
	margin-left: -8px;
	margin-right: -8px;
	margin-top: 10px;
	padding-top: 40px;
	padding-bottom: 40px;
}
#block_certificats4
{
	text-align: right;
	background-color: #f1f1f1;
	margin-left: -8px;
	margin-right: -8px;
	margin-top: 10px;
	padding-top: 40px;
	padding-bottom: 40px;
}
#block_certificats5
{
    background-color: #f1f1f1;
	margin-left: -8px;
	margin-right: -8px;
	margin-top: 10px;
	padding-top: 40px;
	padding-bottom: 40px;
}
#block_certificats6
{
	text-align: right;
	background-color: #f1f1f1;
	margin-left: -8px;
	margin-right: -8px;
	margin-top: 10px;
	padding-top: 40px;
	padding-bottom: 40px;
}
#block_certificats7
{
	text-align: center;
	background-color: #f1f1f1;
	margin-left: -8px;
	margin-right: -8px;
	margin-top: 10px;
	padding-top: 40px;
	padding-bottom: 40px;
}
.description_certificats
{
	font-size: 2em;
	color: #FFA500;
	text-align: center;
}
.conteneur_certificats
{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.block_description_certif
{
	width: 339px;
	height: 210px;
	margin-top: 36px;
}



#block_hobbies1
{
	text-align: center;
	background-color: #f1f1f1;
	margin-left: -8px;
	margin-right: -8px;
	margin-top: -9px;
	padding-top: 1px;
	padding-bottom: 1px;
}
.block_hobbies_suite
{
	text-align: center;
	background-color: #f1f1f1;
	margin-left: -8px;
	margin-right: -8px;
	margin-top: 10px;
	padding-top: 40px;
	padding-bottom: 40px;
}
#block_hobbies1, .block_hobbies_suite p
{
	padding-right: 5%;
	padding-left: 5%;
}



#conteneur_audio
{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
#audio1, #audio2
{
	border: solid #FFA500 3px;
}
.border_audio
{
	border-bottom: solid #FFA500 3px;
}



.conteneur_voyage
{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}



#block_demarche
{
	background-color: #f1f1f1;
	margin-left: -8px;
	margin-right: -8px;
	margin-top: -9px;
	padding-top: 1px;
	padding-bottom: 1px;
}
.block_demarche_suite
{
	background-color: #f1f1f1;
	margin-left: -8px;
	margin-right: -8px;
	margin-top: 10px;
	padding-top: 40px;
	padding-bottom: 40px;
}
#block_demarche_suite_centre
{
	text-align: center;
	background-color: #f1f1f1;
	margin-left: -8px;
	margin-right: -8px;
	margin-top: 10px;
	padding-top: 40px;
	padding-bottom: 40px;
	/*padding-left: 20%;
	padding-right: 20%;*/
}

#block_demarche, .block_demarche_suite, #block_demarche_suite_centre p
{
	padding-right: 5%;
	padding-left: 5%;
}

#block_demarche, .block_demarche_suite ul
{
	padding-left: 20%;
	padding-right: 20%;
}

.titre_demarche
{
	text-align: center;
	padding-right: 5%;
	padding-left: 5%;	
}